<div ng-hide="test.results">
    <div class="text-center">
        <span>Question {{ test.currentQuestion.id }} of {{ test.testservice.questions.length }}</span>
    </div>
    <h1 class="text-center">{{ test.currentQuestion.text }}</h1>

    <div class="text-center" ng-hide="test.answered">
        <button class="btn btn-yella" ng-click="test.answer(true); answer = true;" ng-disabled="test.answered">Truthy</button>
        <button class="btn btn-red" ng-click="test.answer(false); answer = false;" ng-disabled="test.answered">False-ish</button>
    </div>
    <div class="text-center" ng-show="test.answered">
        <button class="btn btn-yella" ng-click="test.next()" ng-disabled="!test.answered">Next Question</button>
        <p>Your answer <strong>{{ answer }}</strong> is {{ test.questionResult }}!</p>
    </div>
</div>

<div ng-show="test.results">
    <div class="text-center">
        <span>Way to go... You got <strong>{{ test.correct }}</strong> questions correct.</span>
    </div>
</div>